<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>jdbc/oracle</value>
		</property>			
		<property name="resourceRef" value="true"></property>
	</bean>
	
	<bean id="springJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource"></ref>
		</property>
	</bean>
	
	<bean id="boardDAO" class="board.dao.BoardDAOImpl">
		<property name="jdbcTemplate" ref="springJdbcTemplate"/>
	</bean>

	<bean name="/board_list.do" class="board.controller.BoardListController">
		<property name="boardDAO" ref="boardDAO" /> 
	</bean>

	<bean name="/board_content.do" class="board.controller.BoardContentController">
		<property name="boardDAO" ref="boardDAO" />
	</bean>
	
	<bean name="/board_writeForm.do" class="board.controller.BoardWriteFormController">
	</bean>
	
	<bean name="/board_writePro.do" class="board.controller.BoardWriteProCommandController">
		<property name="boardDAO" ref="boardDAO" />
		<property name="commandClass" value="board.dto.BoardDBBean" />
		<property name="commandName" value="boardDTO"/>
	</bean>
	
	<bean name="/board_deleteForm.do" class="board.controller.BoardDeleteAbstractController">
		<property name="supportedMethods">
			<value>GET, POST</value>
		</property>
		<property name="requireSession">
			<value>true</value>
		</property>
	</bean>
	
	<bean name="/board_deletePro.do" class="board.controller.BoardDeleteProController">
		<property name="boardDAO" ref="boardDAO" />
	</bean>
	
	<bean name="/board_updateForm.do" class="board.controller.BoardUpdateFormController">
		<property name="boardDAO" ref="boardDAO" />
	</bean>
	
	<bean name="/board_updatePro.do" class="board.controller.BoardUpdateProCommandController">
		<property name="boardDAO" ref="boardDAO" />
		<property name="commandClass" value="board.dto.BoardDBBean" />
		<property name="commandName" value="boardDTO"/>
	</bean>
</beans>















