<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>jdbc/oracle</value>
		</property>			
		<property name="resourceRef" value="true"></property>
	</bean>
	
	<bean id="springJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource"></ref>
		</property>
	</bean>
	
	<bean id="boardDAO" class="board.dao.BoardDAOImpl">
		<property name="jdbcTemplate" ref="springJdbcTemplate"/>
	</bean>

	<bean name="/board_list.do" class="board.controller.BoardListController">
		<property name="boardDAO" ref="boardDAO" /> 
	</bean>

	<bean name="/board_content.do" class="board.controller.BoardContentController">
		<property name="boardDAO" ref="boardDAO" />
	</bean>
	
	<bean name="/board_writeForm.do" class="board.controller.BoardWriteFormController">
	</bean>
	
	<bean name="/board_writePro.do" class="board.controller.BoardWriteProCommandController">
		<property name="boardDAO" ref="boardDAO" />
		<property name="commandClass" value = "board.dto.BoardDBBean"></property>
		<property name="commandName" value = "boardDTO"/>
	</bean>
	
	


<bean class="board.controller.BoardUpdateFormController" name="/board_updateForm.do">
<property name="boardDAO" ref="boardDAO"/>
</bean>

<bean class="board.controller.BoardUpdateProCommandController" name="/board_updatePro.do">
<property name="boardDAO" ref="boardDAO"/>
<property name="commandClass" value="board.dto.BoardDBBean"/>
<property name="commandName" value="boardDTO"/>
</bean>

<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="maxUploadSize" value = "30720000"></property>
</bean>

<bean id="uploadDirResource" class="org.springframework.core.io.FileSystemResource">
  <constructor-arg>
    <value>D:/JulySpring02</value>
  </constructor-arg>
</bean>



</beans>






